@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Rubik', sans-serif;

   *::selection {
      background-color: #ffd1b8;
      color: #333333;
   }
}

.cursor {
   position: fixed;
   border-radius: 50%;
   transform: translateX(-50%) translateY(-50%);
   pointer-events: none;
   left: -100px;
   top: 50%;
   mix-blend-mode: difference; //for dark and light modes
   background-color: transparent;
   z-index: 10000;
   border: 2px solid white;
   height: 20px;
   width: 20px;
   transition: all 300ms ease-out;
   background-color: #333333;
}


section {
   width: 100%;
   height: 100vh;
   background-image: url(/assets/main_image.jpg);
   background-repeat: no-repeat;
   background-size: cover;

   header {
      background-color: black;
      position: fixed;
      width: 100%;

      .header_content {
         width: 70%;
         margin: auto;
         padding: 20px;
         max-width: 1400px;
         display: flex;
         align-items: center;
         justify-content: space-between;

         img {
            width: 100px;
         }

         ul {
            color: white;
            list-style-type: none;
            display: flex;
            gap: 20px;
            font-weight: 700;
            font-size: 1.1rem;

            li {
               cursor: pointer;
               transition: .3s;

               &:hover {
                  color: gray;
               }
            }
         }
      }


   }
}

.work {
   width: 80%;
   max-width: 1440px;
   margin: auto;
   margin-top: 150px;
   border-top: 2px solid black;

   h1 {
      font-size: 3rem;
      margin-top: 20px;
   }
}

.about {
   width: 80%;
   max-width: 1440px;
   margin: auto;
   margin-top: 150px;
   border-top: 2px solid black;

   .about_content {
      margin-top: 100px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      p {
         width: 50ch;
         font-weight: lighter;
         padding-bottom: 40px;
         font-size: 1.3rem;
      }
   }

   h1 {
      font-size: 3rem;
      margin-top: 20px;
   }
}

.skills {
   width: 80%;
   max-width: 1440px;
   margin: auto;
   margin-top: 150px;
   border-top: 2px solid black;

   h1 {
      font-size: 3rem;
      margin-top: 20px;
   }

   h2 {
      font-size: 5rem;
      font-weight: lighter;
      margin-top: 100px;
      border-bottom: 1px solid gray;
      padding-bottom: 10px;
   }
}

.work {
   width: 80%;
   max-width: 1440px;
   max-width: 1440px;
   margin: auto;
   margin-top: 150px;
   border-top: 2px solid black;


   .work_images {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 10px;
      margin-top: 100px;

      .img_row {
         display: flex;
         align-items: flex-start;
         justify-content: center;
         flex-direction: column;

         &:nth-child(1) {
            margin-top: -10px;
         }
      }

      img {
         width: 100%;
         margin-top: 10px;
      }
   }

}

.xp {
   width: 80%;
   max-width: 1440px;
   margin: auto;
   margin-top: 150px;
   border-top: 2px solid black;
   display: flex;
   align-items: flex-start;
   justify-content: space-evenly;
   padding: 50px;

   .xp_1 {
      h1 {
         font-size: 3rem;
         font-weight: lighter;
      }
   }

   .xp_2 {
      div {
         padding: 20px;

         h2 {
            font-weight: lighter;
         }
      }

   }
}

footer {
   .footer_content {
      margin-top: 150px;
      padding-top: 100px;
      width: 80%;
      max-width: 1440px;
      margin: auto;

      h1 {
         font-size: 3rem;
         margin-top: 20px;
         border-top: 2px solid black;
      }

      h2 {
         font-size: 5rem;
         margin-top: 100px;
         border-bottom: 1px solid gray;
         padding-bottom: 10px;
      }

      .socials {
         margin-top: 100px;
         display: flex;
         align-items: flex-start;
         justify-content: space-between;
         font-weight: bold;
         width: 80%;
         max-width: 1440px;

         ul {
            list-style-type: none;

            li {
               font-size: 2rem;
               padding-top: 10px;
               cursor: pointer;
               transition: .3s;

               &:hover {
                  color: rgb(97, 97, 97);
               }
            }
         }

         p {
            font-size: 1.2rem;
            font-weight: lighter;

            &:nth-child(2) {
               margin-top: 15px;
            }
         }
      }
   }

   margin-top: 100px;
   background-color: #f0e2d3;

}

@media (max-width:1500px) {
   .about {
      .about_content {
         p {
            width: 40ch;
         }
      }
   }
}

@media (max-width:1300px) {
   .about {
      .about_content {
         p {
            width: 30ch;
         }
      }
   }
}

@media (max-width:1100px) {
   .about {
      .about_content {
         p {
            width: 28ch;
         }
      }
   }
}

@media (max-width:1000px) {
   .about {
      .about_content {
         flex-direction: column;

         p {
            width: 40ch;
         }
      }
   }

   .xp {
      flex-direction: column;

      .xp_1 {
         h1 {
            margin-left: 15px;
         }
      }

      .xp_2 {
         margin-top: 50px;
      }
   }

   footer {
      .socials {
         flex-direction: column;

         ul {
            margin-top: 50px;
         }
      }
   }

   .skills {
      h2 {
         font-size: 3rem;
      }
   }
}

@media (max-width:800px) {
   .work {
      .work_images {
         flex-wrap: wrap;
      }
   }
}

@media (max-width:600px) {

   .about {
      img {
         width: 300px;
      }

      .about_content {
         p {
            width: 30ch;
         }
      }
   }

   footer {
      .footer_content {
         h2 {
            font-size: 3rem;
         }
      }
   }
}

@media (max-width:440px) {
   .about {
      .about_content {
         p {
            width: 20ch;
         }
      }
   }
}

@media (max-width:360px) {

   .about {
      .about_content {
         img {
            width: 200px;
         }
      }
   }

   .xp {
      .xp_1 {
         h1 {
            font-size: 2rem;
         }
      }
   }

   .skills {
      h2 {
         font-size: 2.5rem;
      }
   }
}